:host {
  display: block;
  width: 100%;
  position: absolute;
}

.user-detail-conatainer {
  margin: 20px;
}

mat-input-container, mat-select, .buttons {
  width: 90%;
}

mat-input-container {
  margin: 0 0 10px;
}

mat-select {
  margin: 10px 0 30px;
}

.buttons {
  margin-bottom: 50px;
}
