<div class="jumbotron" myLogOnClick >
	<img [src]="imageBox" alt="IPT Products Demo" class="pull-left">
	<h1>IPT Product Catalog Demo</h1>
	<h2>SPA using Angular 2, RxJS, Bootstrap, and Typescript</h2>
	<div class="learn-more"><a class="btn btn-primary btn-lg" href="https://github.com/iproduct/course-angular2/wiki" role="button">
    Learn More @ Github Wiki</a>
	</div>
</div>

<p>
	IPT Product Catalog demonstartes how to build a <em>single page appplication</em> using <em>Angular 2</em> 
  and <em>Angular Router, HTTP, Forms,</em>	etc. modules. It is written completely in <em>TypeScript</em> and utilizes <em>reactive event processsing</em> 
  using <em>RxJS</em> client side library. Styling is done using Bootstrap.
</p>
<p>Application provides following functionality: </p>
<ul>
	<li>Anonymous users can browse products and view detailed information about each product.</li>
	<li>Registered users can browse products and add them to the shoping basket</li>
	<li>Operators can edit product information and add new products to the catalog.</li>
	<li>Administrators can manage (create, edit user data and delete ) all <em>registered users</em>, as well as <em>products</em>.</li>
</ul>