<!--The content below is only a placeholder and can be replaced.-->
  <kt-layout>
    <kt-sidenav [open]="sidenavOpen">
      <kt-nav-item (activate)="chooseView()" routerLink="/home" icon="home" hint="Welcome page">
        Home
      </kt-nav-item>
      <kt-nav-item (activate)="chooseView()" routerLink="/users" icon="people" hint="Users management">
        Users
      </kt-nav-item>
      <kt-nav-item (activate)="chooseView()" routerLink="/tests" icon="view_list" hint="Tests management">
        Tests
      </kt-nav-item>
      <kt-nav-item (activate)="chooseView()" routerLink="/reactive-demo" icon="view_stream" hint="RxJS Observable demos">
        Reactive Demos
      </kt-nav-item>
      <kt-nav-item (activate)="chooseView()" routerLink="/wiki-demo" icon="search" hint="Wikipedia search demo with RxJS">
        Reactive Wiki Search Demo
      </kt-nav-item>
    </kt-sidenav>
    <kt-toolbar (openSidenav)="openSidenav()">
      Knowledge Tester
    </kt-toolbar>

    <router-outlet></router-outlet>

    <!--<div [ngSwitch]="currentView" class="main-view">
      <kt-user-list *ngSwitchCase="viewUsers"></kt-user-list>
      <kt-test-list *ngSwitchCase="viewTests"></kt-test-list>
      <kt-home *ngSwitchCase="viewHome"></kt-home>
      <kt-demo01 *ngSwitchCase="viewReactive"></kt-demo01>
      <kt-wiki *ngSwitchCase="viewWiki"></kt-wiki>
    </div>-->

  </kt-layout>
