<!--The content below is only a placeholder and can be replaced.-->
<kt-layout>
  <kt-sidenav [open]="sidenavOpen">
    <kt-nav-item (activate)="chooseView($event)" [viewId]="viewHome" icon="home" hint="Welcome page">
      Home
    </kt-nav-item>
    <kt-nav-item (activate)="chooseView($event)" [viewId]="viewUsers" icon="people" hint="Users management">
      Users
    </kt-nav-item>
    <kt-nav-item (activate)="chooseView($event)" [viewId]="viewTests" icon="view_list" hint="Tests management">
      Tests
    </kt-nav-item>
  </kt-sidenav>
  <kt-toolbar (openSidenav)="openSidenav()">
    Knowledge Tester
  </kt-toolbar>

<div [ngSwitch]="currentView">
  <kt-user-list *ngSwitchCase="viewUsers"></kt-user-list>
  <kt-test-list *ngSwitchCase="viewTests"></kt-test-list>
  <kt-home *ngSwitchCase="viewHome"></kt-home>
</div>

</kt-layout>
