<div class="user-list-container">
  <div class="user-list-header">
    <h2>Add/Edit User</h2>
  </div>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input  matInput type="email" id="email" name="email" formControlName="email"
        placeholder="E-mail" />
      <mat-error *ngIf="formErrors.email">{{ formErrors.email }}</mat-error>
    </mat-form-field>
    <div class="buttons">
      <button type="submit" mat-raised-button color="primary"
      [disabled]="userForm.pristine || userForm.invalid">Submit</button>
      <button type="button" mat-raised-button color="default"
        [disabled]="userForm.pristine" (click)="resetForm()">Reset</button>
</div>
  </form>
</div>
