/* Master Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 200%;
  font-weight: lighter;
}
body {
  margin: 2em;
}

body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}
a {
  cursor: pointer;
  cursor: hand;
}
button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}


/* main navigation */
.navbar-default .navbar-nav>li>a.active {
    background-color: #e5e5e5 ;
    color: #666;
}

.navbar-default .navbar-nav>li>a:focus {
    background-color: #ddd ;
    color: #555;
}

.navbar-default .navbar-nav>li>a:hover {
    background-color: #ccc ;
    color: #222;
}
.navbar-brand {
    padding: 0;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-menu {
    display: block;
}


/* Home page */
.jumbotron img {
    padding-right: 50px;
}

.jumbotron .learn-more {
    margin-top: 20px;
}

/* items class */
.items {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 40em;
}
.items li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 2.2em;
  border-radius: 4px;
}
.items li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.items li.selected {
  background-color: #CFD8DC;
  color: white;
}

.items li.selected:hover {
  background-color: #BBD8DC;
}
.items .text {
  position: relative;
  top: -3px;
}
.items .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 1.5em 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 2em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

/* forms */
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
  border-left: 5px solid #ff4442; /* red */
}

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}
