.product-list-header {
  width: 500px;
}

.product-card-container {
  width: 500px;
}

.product-card {
  width: 100%;
  padding: 10px;
}

.product-header {
  width: 70%;
}

.product-header-image {
  overflow: hidden;
}

.product-header-image:first-child {
  margin: auto 20px auto 10px;
  background: transparent;
  border-radius: 10px;
}

.icon-button {
  min-width: 3em;
  padding: 0px;
}


