<mat-card class="home-card">
    <mat-card-header>
        <div mat-card-avatar class="home-header-image"></div>
        <mat-card-title>Welcome to IPT WebStore Demo!</mat-card-title>
        <mat-card-subtitle>SPA using Angular 7, RxJS 6, Material Design, and Typescript</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../assets/img/ipt-mashup.jpg" alt="IPT: Education Evolved">
      <mat-card-content>
          <p>
              IPT Webstore Demo shows how to build a <em>single page appplication</em> using <em>Angular 2</em>
              and <em>Angular Router, HTTP Client, Forms,</em>	etc. modules. It is written completely in <em>TypeScript</em> and utilizes <em>reactive event processsing</em>
              using <em>RxJS</em> client side library. Styling is done using Angular Material and Material Flexbox. Application demonstrates following functionality: </p>
            <ul>
              <li>Anonymous users can browse products and view detailed information about each product.</li>
              <li>Registered users can browse products and add them to the shoping basket</li>
              <li>Operators can edit product information and add new products to the catalog.</li>
              <li>Administrators can manage (create, read, update and delete ) all <em>registered users</em>, and <em>products</em>.</li>
            </ul>
      </mat-card-content>
      <mat-card-actions>

            <a mat-raised-button color="primary" href="https://github.com/iproduct/course-angular2/wiki">Learn More @ Github Wiki</a>

          <button mat-raised-button color="accent">SHARE</button>
      </mat-card-actions>
</mat-card>


