<h3 *ngIf="isNewProduct">Add New Product</h3>
<h3 *ngIf="!isNewProduct">Edit Product: {{product?.name}} </h3>

<form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="form-horizontal col-xs-12 col-sm-9 col-md-6 col-lg-4">
	<div *ngIf="product?.id" class="form-group">
		<label class="control-label col-xs-3 hidden-xs" for="id">ID:</label>
		<div class="col-xs-12 col-sm-9">
			<input class="form-control col-xs-12 col-sm-9" id="id" name="id" formControlName="id">
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-xs-3 hidden-xs" for="name">Name:</label>
		<div class="col-xs-12 col-sm-9">
			<input class="form-control col-xs-12 col-sm-9" id="name" name="name" formControlName="name" placeholder="Product name" required>
		</div>
	</div>
	<div *ngIf="formErrors.name" class="alert alert-danger">
			{{ formErrors.name }}
	</div>

	<div class="form-group">
		<label class="control-label col-xs-3 hidden-xs" for="description">Description:</label>
		<div class="col-xs-12 col-sm-9">
			<input class="form-control col-xs-12 col-sm-9" id="description" name="description" formControlName="description" placeholder="Description">
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-xs-3 hidden-xs" for="power">Price:</label>
		<div class="col-xs-12 col-sm-9">
			<input type="number" step="any" class="form-control col-xs-12 col-sm-9" id="price" name="price" formControlName="price" placeholder="Price"
				required>
		</div>
	</div>
	<div *ngIf="formErrors.price" class="alert alert-danger">
			{{ formErrors.price }}
	</div>

	<button type="submit" class="btn btn-primary" [disabled]="!productForm.valid">Submit</button>
	<button type="button" class="btn btn-danger" (click)="resetForm()">Reset</button>
  <button type="button" class="btn btn-default" (click)="goBack()">Cancel</button>
</form>