<div [ngClass]="{'ui-orderlist ui-widget':true,'ui-orderlist-responsive':responsive}" [ngStyle]="style" [class]="styleClass">
    <div class="ui-orderlist-controls">
        <button type="button" md-raised-button color="primary" (click)="addItem()">
            <md-icon>library_add</md-icon>
        </button>
        <button type="button" md-raised-button color="default" (click)="moveTop($event,listelement)">
            <i class="fa fa-angle-double-up"></i>
        </button>
        <button type="button" md-raised-button color="default" (click)="moveUp($event,listelement)">
            <i class="fa fa-angle-up"></i>
        </button>
        <button type="button" md-raised-button color="default" (click)="moveDown($event,listelement)">
            <i class="fa fa-angle-down"></i>
        </button>
        <button type="button" md-raised-button color="default" (click)="moveBottom($event,listelement)">
            <i class="fa fa-angle-double-down"></i>
        </button>
    </div>
    <div class="ui-orderlist-list-container">
        <div class="ui-orderlist-caption ui-widget-header ui-corner-top" *ngIf="header">{{header}}</div>
        <div class="ui-orderlist-filter-container ui-widget-content" *ngIf="filterBy">
            <input type="text" role="textbox" (keyup)="onFilterKeyup($event)" class="ui-inputtext ui-widget ui-state-default ui-corner-all"
                [disabled]="disabled" [attr.placeholder]="filterPlaceholder">
            <span class="fa fa-search"></span>
        </div>
        <ul #listelement class="ui-widget-content ui-orderlist-list ui-corner-bottom" [ngStyle]="listStyle" (dragover)="onListMouseMove($event)">
            <div *ngFor="let item of value.controls; let i=index; let l=last">
                <li class="ui-orderlist-droppoint" *ngIf="dragdrop && isItemVisible(item)" (dragover)="onDragOver($event, i)" (drop)="onDrop($event, i)"
                    (dragleave)="onDragLeave($event)" [ngClass]="{'ui-state-highlight': (i === dragOverItemIndex)}"></li>
                <li class="ui-orderlist-item" [ngClass]="{'ui-state-highlight':isSelected(item)}" (click)="onItemClick($event,item)" (touchend)="onItemTouchEnd($event)"
                    [style.display]="isItemVisible(item) ? 'block' : 'none'" [draggable]="dragdrop" (dragstart)="onDragStart($event, i)"
                    (dragend)="onDragEnd($event)">
                    <ng-template [pTemplateWrapper]="itemTemplate" [item]="item" [index]="i"></ng-template>
                </li>
                <li class="ui-orderlist-droppoint" *ngIf="dragdrop && l" (dragover)="onDragOver($event, i + 1)" (drop)="onDrop($event, i + 1)"
                    (dragleave)="onDragLeave($event)" [ngClass]="{'ui-state-highlight': (i + 1 === dragOverItemIndex)}"></li>
            </div>
        </ul>
    </div>
</div>