<mat-card *ngIf="mode === 'present'" class="product-card-detail">
  <mat-card-header>
    <div mat-card-avatar class="product-header-image">
      <img *ngIf="product.imageUrl" mat-card-image [src]="product.imageUrl" [alt]="product.name">
    </div>
    <mat-card-title>{{product.name}}</mat-card-title>
    <mat-card-subtitle>{{product.price | currency:'USD':'symbol':'0.2-2'}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="product.imageUrl">
  <mat-card-content>
    {{product.description}}
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
<mat-card *ngIf="mode === 'edit'" class="product-card-detail">
  <mat-card-header>
    <div mat-card-avatar class="product-header-image">
      <img *ngIf="product.imageUrl && image.valid" mat-card-image [src]="product.imageUrl" [alt]="product.name">
    </div>
    <mat-card-title>{{product.name}}</mat-card-title>
    <mat-card-subtitle>{{product.price | currency:'USD':'symbol':'0.2-2'}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form #f="ngForm" class="product-form">
      <mat-form-field *ngIf="product?.id">
        <input name="id" matInput readonly placeholder="ID" [ngModel]="product.id">
      </mat-form-field>
      <mat-form-field>
        <input name="name" matInput placeholder="Product name" [(ngModel)]="product.name" required minlength="2" maxlength="24">
        <mat-error *ngIf="formErrors.name">
          {{formErrors.name}}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input name="price" type="number" matInput placeholder="Product price" [(ngModel)]="product.price"
          required min="0">
        <mat-error *ngIf="formErrors.price">
          {{formErrors.price}}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input name="description" matInput placeholder="Product description" [(ngModel)]="product.description"
          required minlength="2" maxlength="512">
        <mat-error *ngIf="formErrors.description">
          {{formErrors.description}}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input #image="ngModel" name="imageUrl" matInput placeholder="Product image URL" [(ngModel)]="product.imageUrl"
          pattern="(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?">
        <mat-error *ngIf="formErrors.imageUrl">
          {{formErrors.imageUrl}}
        </mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="submitProduct()"
      [disabled]="f.pristine || f.invalid">Submit</button>
    <button mat-raised-button color="warn" (click)="reset()">Reset</button>
    <button mat-raised-button (click)="cancelProduct()">Cancel</button>
  </mat-card-actions>
</mat-card>
