
<mat-sidenav-container fullscreen (backdropClick)="closeSidenav()">
  <mat-sidenav [opened]="showSidenav" (keydown.esc)="closeSidenav()">
    <mat-nav-list>
      <ws-nav-item (navigate)="closeSidenav()" *ngIf="!(loggedIn)" routerLink="/login" icon="face"
        hint="Login with username & password" tabindex="-1">
        Login
      </ws-nav-item>
      <ws-nav-item (navigate)="closeSidenav()" *ngIf="!(loggedIn)" routerLink="/users/register" icon="perm_identity"
        hint="Register as new user" tabindex="-1">
        Register
      </ws-nav-item>
      <ws-nav-item (navigate)="closeSidenav()" routerLink="/home" icon="home"
        hint="Project home" tabindex="-1">
        Home
      </ws-nav-item>
      <ws-nav-item (navigate)="closeSidenav()" routerLink="/products" icon="art_track"
        hint="Manage Products" tabindex="-1" >
        Products
      </ws-nav-item>
      <ws-nav-item (navigate)="closeSidenav()" routerLink="/users" icon="assessment"
        hint="Manage Users" tabindex="-1" >
        Users
      </ws-nav-item>
      <mat-divider *ngIf="loggedIn"></mat-divider>
      <ws-nav-item (navigate)="closeSidenav()" *ngIf="loggedIn" routerLink="/logout" icon="exit_to_app"
        hint="Logout currently logged user" tabindex="-1">
        Logout
      </ws-nav-item>
    </mat-nav-list>
  </mat-sidenav>

  <ws-toolbar (openMenu)="openSidenav()">
    IPT WebStore Demo
  </ws-toolbar>
  <div class="container">
   <router-outlet></router-outlet>
   <ws-messages level="INFO"></ws-messages>
  </div>

</mat-sidenav-container>

