mat-input-container, mat-select, .question-container, .buttons {
  width: 90%;
}

.test-dates{
  padding-left: 0;
  margin-left: 0;
  padding-bottom: 15px;
}
.dates, .dates-legend {
  padding-left: 0;
  margin-left: 0;
  color: #999;
  display: inline-block;
}

.dates-legend {
  width: 4.5em;
}

.buttons {
  padding-left: 7%;
}

mat-input-container, .question-container {
  margin: 0 0 10px;
}

mat-select {
  margin: 10px 0 30px;
}

.buttons {
  margin: 20px 0;
}

.question-container mat-card {
  margin: 0 0 5px;
}

.question-container mat-card {
  background: #ffffcc;
}

.question-container mat-input-container {
  margin: 0;
  width: 90%;
}

.question-container mat-card mat-card {
  background: #ffffff;
  padding: 5px;
}

.question-controls, .answer-controls {
  float: right;
  padding: 0;
}

.question-control {
  color:#ffffff;
  padding: 2px;
  border-radius: 2px;
  box-shadow: 3px 3px 5px #888888;
  margin-bottom: 10px;
}

.question-control:active {
  box-shadow: 1px 1px 2px #888888;
}

.delete-question, .delete-answer {
  background: #c5513f;
}

.add-answer {
  background: #3f51b5;
}

.delete-question:hover, .delete-answer:hover  {
  background: #ff614f;
}

.add-answer:hover  {
  background: #4f61ff;
}
