<div class="test-list-conatainer ui-g-12">
	<div class="test-list-header ui-g-11">
		<h2 *ngIf="isNewTest">Add New Test</h2>
		<h2 *ngIf="!isNewTest">Edit Test: {{test?.title}} </h2>
	</div>

	<form [formGroup]="testForm" (ngSubmit)="onSubmit()" class="ui-g-12 ui-mat-8 ui-lg-6">
		<div class="test-dates ui-g-12">
			<div class="ui-g-12 ui-mat-6">
				<div class="dates-legend">Created:</div><div class="dates">{{test.dateCreated | date:'HH:mm - dd.MM.yyyy'}}</div>
			</div>
			<div class="ui-g-12 ui-mat-6">
				<div class="dates-legend">Modified:</div><div class="dates">{{test.dateModified | date:'HH:mm - dd.MM.yyyy'}}</div>
			</div>
		</div>

		<div *ngIf="test?.id">
			<mat-input-container>
				<input matInput type="text" id="id" name="id" formControlName="id" placeholder="ID" />
			</mat-input-container>
		</div>

		<mat-input-container>
			<input matInput type="text" id="title" name="title" formControlName="title" placeholder="Test title" required>
			<mat-error *ngIf="formErrors.title">{{ formErrors.title }}</mat-error>
		</mat-input-container>

		<mat-input-container>
			<input matInput type="text" id="description" name="description" formControlName="description" placeholder="Description">
		</mat-input-container>

		<mat-input-container>
			<input matInput type="author" id="author" name="email" formControlName="author" placeholder="Author" required>
			<mat-error *ngIf="formErrors.author">{{ formErrors.author }}</mat-error>
		</mat-input-container>

		<mat-select matInput placeholder="Difficulty" id="difficulty" name="difficulty" formControlName="difficulty" required>
			<mat-option *ngFor="let difficulty of difficulties" [value]="difficulty.key">{{difficulty.value }}</mat-option>
			<mat-error *ngIf="formErrors.difficulty">{{ formErrors.difficulty }}</mat-error>
		</mat-select>

		<mat-select matInput placeholder="License" id="license" name="license" formControlName="license" required>
			<mat-option *ngFor="let license of licenses" [value]="license.key">{{license.value }}</mat-option>
			<mat-error *ngIf="formErrors.license">{{ formErrors.license }}</mat-error>
		</mat-select>

		<ipt-order-list [value]="questions" [responsive]="true" class="question-container" formArrayName="questions" (onAddItem)="addQuestion()"
		 (onReorder)="refreshForm()">
			<ng-template let-question let-i="index" pTemplate="item">
				<!--{{i}}. {{question.get('text').value}} -->
				<mat-card [formGroupName]="i">
					<div class="question-controls">
						<div class="question-control delete-question" (click)="deleteQuestion(i)" title="Delete Question">Q-</div>
						<div class="question-control add-answer" (click)="addAnswer(i)" title="Add Answer">A+</div>
					</div>
					<mat-input-container>
						<input matInput type="text" id="text" name="text" formControlName="text" placeholder="Question {{i + 1}}">
					</mat-input-container>
					<mat-input-container>
						<input matInput type="text" id="hint" name="hint" formControlName="hint" placeholder="Hint">
					</mat-input-container>
					<mat-input-container>
						<input matInput type="number" id="weight" name="weight" formControlName="weight" placeholder="Weight">
					</mat-input-container>

					<div formArrayName="answers" class="answer-container">
						<mat-card *ngFor="let answer of questionAnswers(i).controls; let j=index" [formGroupName]="j">
							<div class="answer-controls">
								<div class="question-control delete-answer" (click)="deleteAnswer(i, j)" title="Delete Answer">A-</div>
							</div>
							<mat-input-container>
								<input matInput type="text" id="text" name="text" formControlName="text" placeholder="Answer {{j + 1}}">
							</mat-input-container>
							<mat-input-container>
								<input matInput type="number" id="weight" name="weight" formControlName="weight" placeholder="Weight">
							</mat-input-container>
						</mat-card>
					</div>

				</mat-card>
			</ng-template>
		</ipt-order-list>

		<div class="buttons">
			<button type="submit" mat-raised-button color="primary" [disabled]="testForm.pristine || !testForm.valid">Submit</button>
			<button type="button" mat-raised-button color="warn" (click)="resetForm()">Reset</button>
			<button type="button" mat-raised-button (click)="goBack()">Cancel</button>
		</div>
	</form>
</div>