md-input-container, md-select, .question-container, .buttons {
  width: 90%;
}

md-input-container, .question-container {
  margin: 0px 0 10px;
}

md-select {
  margin: 20px 0;
}

.buttons {
  margin: 20px 0;
}