md-input-container, md-select, .question-container, .buttons {
  width: 90%;
}

md-input-container, .question-container {
  margin: 0 0 10px;
}

md-select {
  margin: 10px 0 30px;
}

.buttons {
  margin: 20px 0;
}

.question-container md-card {
  margin: 0 0 5px;
}

.question-container>md-card {
  background: #ffffcc;
}

.question-container md-input-container {
  margin: 0;
  width: 100%;
}

.question-container md-card md-card {
  padding: 5px;
}