<h2>Product Catalog</h2>
<div>Choose a product:</div>
<ul class="items">
  <li *ngFor="let product of products; trackBy: trackById" 
    [class.selected]="product===selectedProduct" (click)="selectProduct(product)">
    <span class="item-badge">{{product.id}}</span>
    {{product.name}} - {{product.price | currency:'USD':1.2-2}}
  </li>
</ul>
<tc-product-detail *ngIf="selectedProduct" [product]="selectedProduct" 
(onProductChange)="productChanged($event)" (onProductCancel)="productCanceled()">
</tc-product-detail>

