<hr>
<h3>{{title}}</h3>
<form #userForm="ngForm"  (ngSubmit)="onSubmit()" class="form-horizontal col-xs-12 col-sm-9 col-md-6 col-lg-4">
	<div *ngIf="user.id"class="form-group">
		<label class="control-label col-xs-3 hidden-xs" for="id">ID:</label>
		<div class="col-xs-12 col-sm-9">
			<input [ngModel]="user.id" id="id" name="id" disabled class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-xs-3 hidden-xs" for="firstName">First Name:</label>
		<div class="col-xs-12 col-sm-9">
			<input [(ngModel)]="user.firstName" class="col-xs-12 col-sm-9" id="firstName" name="firstName" placeholder="First Name" required
				class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-xs-3 hidden-xs" for="lastName">Last Name:</label>
		<div class="col-xs-12 col-sm-9">
			<input [(ngModel)]="user.lastName" class="col-xs-12 col-sm-9" id="lastName" name="lastName" placeholder="Last Name" required
				class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-xs-3 hidden-xs" for="email">Email:</label>
		<div class="col-xs-12 col-sm-9">
			<input [(ngModel)]="user.email" class="col-xs-12 col-sm-9" id="email" name="email" placeholder="Email" required pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$"
				#email class="form-control">
		</div>
	</div>

	<button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">Submit</button>
	<button type="button" class="btn btn-danger" (click)="resetForm()">Reset</button>
	<button type="button" class="btn btn-default" (click)="gotoUsers()">Cancel</button>
</form>