<hr>
<h3>{{product.name}} Details</h3>
<form class="form-horizontal col-xs-12 col-sm-9 col-md-6 col-lg-4">
	<div class="form-group">
		<label class="control-label col-xs-3 hidden-xs" for="id">ID:</label>
		<div class="col-xs-12 col-sm-9">
			<input [ngModel]="product.id" class="col-xs-12 col-sm-9" id="id" name="id" disabled class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-xs-3 hidden-xs" for="name">Name:</label>
		<div class="col-xs-12 col-sm-9">
			<input [(ngModel)]="product.name" class="col-xs-12 col-sm-9" id="name" name="name" placeholder="Product name"
				required class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-xs-3 hidden-xs" for="description">Description:</label>
		<div class="col-xs-12 col-sm-9">
			<input [(ngModel)]="product.description" class="col-xs-12 col-sm-9" id="description" name="description" 
				placeholder="Description" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-xs-3 hidden-xs" for="power">Price:</label>
		<div class="col-xs-12 col-sm-9">
			<input [(ngModel)]="product.price" class="col-xs-12 col-sm-9" id="power" name="power" placeholder="Price"
			 	class="form-control">
		</div>
	</div>
</form>

