<div class="user-list-conatainer ui-g-12 ui-md-8 ui-lg-6">
    <div class="user-list-header ui-g-12">
      <h2>User List</h2>
    </div>
    <div class="ui-g-7">Pick user to edit:</div>
    <div class="user-list-top-control ui-g-5">
      <button type="button" md-raised-button color="primary" (click)="addNewUser()">Add New User</button>
    </div>
  
    <mat-list>
     <mat-list-item *ngFor="let user of users; let i = index" class="user" 
        [class.selected]="user.id === selectedUser?.id" (click)="selectItem(user)"
        [title]="user.fname">
        <span class="item-badge"> {{i + 1}} </span> {{user.fname}} {{user.lname}}
      </mat-list-item> 
    </mat-list>

    <div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
  
  <div class="router-outlet">
    <kt-simple-reactive *ngIf="selectedUser || isNew" [user]="selectedUser" [isNew]="isNew"></kt-simple-reactive>
  </div>
</div>
  <!-- <hr>
    <ipt-user-detail *ngIf="selectedUser" [user]="selectedUser"></user-detail> -->
